# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Build
dist/
build/
.next/

# Databases & Data
*.db
*.sqlite
backend/uploads/*
!backend/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
